// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "tailwindcss";

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$red-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  &.dark {
    background-color: #121212;
    color: white;
    color-scheme: dark;
  }
}
